<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/Game.js}"></script>
    <script th:src="@{/js/Util.js}"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/my-styles.css}">
    <meta charset="UTF-8">
    <title>Connect-4</title>
</head>


<body class="bg-dark">


    <header>
        <div class="border text-light text-center py-3 bg-gradient" style="width: auto";>
            <h2 class="text-light fw-lighter"> <span id="player1Name"></span>  -  <span id="player2Name"></span> </h2>
            <h6 class="text-light fw-light">GameID: <span id="gameID"></span></h6>
        </div>
    </header>

    <script>

        // Get gameID param
        const urlParams = new URLSearchParams(window.location.search);
        const gameId = urlParams.get("gameID");

        const socket = new SockJS("/connect-endpoint");

        const stompClient = Stomp.over(socket);


        // Connect to SockJS socket
        stompClient.connect({}, function (frame){
            console.log("Established stomp connection")

            // Subscribe to player connect endpoint
            stompClient.subscribe("/topic/connect/" + document.getElementById("gameID").innerHTML, function (gameMessage){
                const data = JSON.parse(gameMessage.body);
                // Update player2 tag
                document.getElementById("player2Name").innerHTML = data["player"];

            })
        })


        // Connect to an existing game
        if(gameId){

            const data = {
                playerID: getPlayerIDFromCookie(),
                gameID: gameId
            };

            postJson("/game/connect", data)
                .then(response => {
                    updateNames(response);
                })

            // Create a new game
        } else{
            postText("/game/create", getPlayerIDFromCookie())
                .then(response => {
                    updateNames(response);
                })
        }

    </script>

    <div class="py-4 px-4">

        <div class="container-fluid border p-3">

            <table id="game-board" class="table text-light text-center">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <script th:src="@{/js/GameBoard.js}"></script>

        </div>

    </div>


</body>


</html>