<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/my-styles.css}">
    <meta charset="UTF-8">
    <title>Connect4</title>
</head>


<body class="bg-light">

    <header class="py-0">
        <div class="p-5 p-lg-4 bg-gradient bg-danger border border-light">
            <div class="container px-lg-5 align-content-md-center">
                <h1 class="display-5 fw-bold text-lg-center text-light">Connect-4</h1>
                <h6 class="text-md-center text-black text-opacity-75">Educational Project by Spring-0</h6>
            </div>
        </div>
    </header>

    <section class="py-0">
        <div class="text-light nav bg-success nav-item-border nav-fill">
            <a class="nav-item nav-link" href="/myprofile">My Profile</a>
            <a class="nav-item nav-link" href="/static">Play Game</a>
            <a class="nav-item nav-link" href="/myprofile">Friends</a>
            <a class="nav-link nav-item" href="/login">Login</a>
            <a class="nav-link nav-item" href="/register">Register</a>

        </div>


        <div class="p-4 bg-dark">
            <div class="text-light">

                <h4 class="text-center text-decoration-underline">How to play?</h4>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam aspernatur beatae cum, dolores
                    ducimus eligendi et labore natus numquam obcaecati officia quam quisquam repellendus sed similique
                    sit tempora veritatis!</p>
            </div>
        </div>

    </section>


</body>


</html>