<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/my-styles.css">
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>

<header class="py-0">
  <div class="p-5 p-lg-4 bg-gradient bg-danger border border-light">
    <div class="container px-lg-5 align-content-md-center">
      <h1 class="display-5 fw-bold text-lg-center text-light">Welcome @Username</h1>
      <h6 class="text-md-center text-black text-opacity-75">See your profile details here!</h6>
    </div>
  </div>
</header>

<!--<div class="text-light nav bg-success nav-item-border nav-fill py-0">-->
<!--  <a class="nav-item nav-link" href="/myprofile">My Profile</a>-->
<!--  <a class="nav-item nav-link" href="/">Play Game</a>-->
<!--  <a class="nav-item nav-link" href="/myprofile">Friends</a>-->
<!--</div>-->

</body>
</html>